@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
*,
html {
  scroll-behavior: smooth !important;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}
